
Header{
    background-color: #39a900;
    margin-bottom: 1rem;
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
li{
    display: flex;
    font-size: 2rem;
    list-style: none;
    justify-content: center;

    
}
header h1{
    font-size: 3rem;
    text-align: center;
    color: #FFFF;
    margin-bottom: 0%;
}


hr{
    border-radius: 10rem 10rem 10rem 10rem;
    height: 0.6rem;
    width: 31rem;
    background-color: aliceblue;
}