.Picture{
    
        border-radius: 20rem 20rem 20rem 20rem;
        border:double  4px #fff;
        width: 16rem;
        height: 16rem;
        background: no-repeat;
        margin: 2rem 0 1rem 1rem;
    }
