.Picture{
    
        border-radius: 20rem 20rem 20rem 20rem;
        border: 3px solid #FFC26F;
        width: 10rem;
        height: 10rem;
        background: no-repeat;
        margin: 1rem 0 0.5rem 1rem;
    }
