
  .card {

    width: max-content;
    background-color: #884A39;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  .imgProyect{
    margin: 2rem 1rem 1rem 1rem;
    width: 16rem;
     height: 100%;
        object-fit: cover;
      
  }
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .card-title {
    color: #fff;
    margin-top: 0;
  }
  
  .card-description {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
  }
  
 
  
  .card-button {
    background-color: #C38154;
    color: #000000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 20rem 20rem 20rem 20rem;
  }
  .card-button:hover{
    color: #000000;
  }
  