#PictureNav{
    border: 3px solid #FFC26F;
    width: 9rem;
    height: 9rem;
    border-radius: 16rem 16rem 16rem 16rem;
    background-color: #fff;
    margin: 0 0 0.5rem 0;
}
#Medias{
    margin-top: 0.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color:  #6cc030

}

svg{
    margin-left: 0.5rem;
    width: 2rem;
    height: 2rem;
    color: #ffffff;
}