.programming-language-box {
    flex-basis: calc(25% - 20px); 
    margin: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .language-logo {
    margin: 1rem 0 1rem 0;
    border-radius: 50%;
    width: 9rem;
    height: 9rem; 
  }
  
  .progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    
  }
  
  .progress {
    height: 100%;
    background: linear-gradient(to right, #39a900 0%, #39a900 50%, #39a900 50%);
    width: 100%; /* Ajustar el ancho al 100% del contenedor */
  }
  
  
  .progress-marker {
    
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px; /* Ancho del marcador */
    background-color: #333; /* Color del marcador */
  }
  #progress-level{
    color: #333;
  }
  